

header
{
    text-align: center;
    background-color: lightblue;
    padding: 20px;
}


nav
{
    display: flex;
    justify-content: center;
    background-color: rgb(143, 69, 120);
    margin-bottom: 10px;
}

nav a
{
    display: inline-block;
    color: azure;
    text-align: center;
    padding: 16px 16px;
    
}

nav a:hover
{
    background-color: blueviolet;
    
    

}

.colomn
{
    float: left;
    background-color: blanchedalmond;
    width: 33.33%;
    padding: 1px 0px;
    
}


main
{
    float: left;
    background-color: rgb(100, 100, 100);
    width: 33.33%;
    padding: 1px 0px;
}

footer
{
    background-color: lightblue;
    text-align: center;
    padding: 1px;
    margin-top: 10px;
    
}

.bottom 
{
    text-align: center;
    background-color: rgb(100, 100, 100);
    margin-bottom: 1px;
    padding-bottom: 1px;
}